# Laravel
src/vendor/
src/node_modules/
src/.env
src/storage/*.key
src/.phpunit.result.cache
src/bootstrap/cache/*

# Docker
.env.docker

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log